aside {
  grid-area: Aside;
  background-color: #9399ff;
  border-radius: 30px 30px 30px 30px;
  -moz-border-radius: 30px 30px 30px 30px;
  -webkit-border-radius: 30px 30px 30px 30px;
}
.caja-ayuda{
  position: fixed;
  right: 10px;
  bottom: 30px;
  text-align: center;
  align-items: center;
  width: auto;
  height: 100px;
  background-color: rgba(255, 255, 0, 0.66);
  border-radius: 2em 2em 0 2em;
}

.div-mona-ayuda{
  display: inline-block;
  position: relative;
  top: 10px;
  justify-items: left;
  align-items: center;
}

.div-texto-ayuda{
  width: 1fr;
  display: inline-block;
}
.tam-mona{
  width: 60px;
  height: 60px; 
}

.lista-aside{
  display: flex;
  justify-items: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 1em;
  width: auto;
  height: 70px; 
  font-size: 22px;
  border: 1px solid #a9aeff;
  background-color: #9399ff;
}
.lista-aside:hover{
  background-color: #747af1;
  transition: all 750ms;
}

.lista-asidev p{
  line-height: 100%;
  width: 100%;
}